body{
  background-color:darkgray;
}
button{
  background-color:purple;
  color:gray;
}

p{
  margin-right:200px;
}
#first-container{
  background-color:purple;
}
#profile-pic{
  width:30%;
  height:30%;
}
#intro{
  font-size:30px;
  color:white;
}
#second-container{
  background-color:silver;
  margin-left:200px;
  margin-right:200px;
}
#third-container{
  background-color:white;
  margin-left:200px;
  margin-right:200px;
}
h2{
  color:gray;
  margin-left:200px;
  margin-right:200px;
}
#project-info{
  margin-left:200px;
}
#contact-info{
  margin-left:200px;
}
#fourth-container{
  background-color:white;
  margin-left:200px;
  margin-right:200px;
}
